$def with (users,form)
<div class="container">
<h1>Create/Edit user</h1>
<h5>Welcome $context.user</h5>


<table class="table table-striped">
<tr>
<th>User</th>
<th>Status</th>
<th>Delete</th>
</tr>

$for user in users:
	<tr>
	<td>$user['name'].capitalize()</td>
	<td>
	$if user['enabled'] == 1:
		<button class="btn btn-xs btn-success" type="button" onClick="location.href='/enable/$user['id']'">Disable</button>
	$else:
 		<button class="btn btn-xs btn-warning" type="button" onClick="location.href='/enable/$user['id']'">Enable</button>
	</td>
	<td>
	 	<button class="btn btn-xs btn-danger" type="button" onClick="location.href='/delete/$user['id']'">Delete</button>
	</td>
</table>
</br>
<div class="well">
<form action="" method="post">
  <h4>Add New User</h4>
$:form.render()
</form>
</div>

</div>
